<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Inserter - NODEJS</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <form action="/" method="post">
        <fieldset>
            <legend>Inserir Pessoa</legend>
            <label for="primeiro_nome">Primeiro Nome</label><br>
            <input type="text" name="primeiro_nome" id="primeiro_nome"><br><br>

            <label for="segundo_nome">Segundo Nome</label><br>
            <input type="text" name="segundo_nome" id="segundo_nome"><br><br>

            <label for="idade">Idade</label><br>
            <input type="number" name="idade" id="idade"><br><br>

            <input type="submit" value="Inserir">
        </fieldset>
    </form>
</body>
</html>